.git
.github
.vscode
.venv
.mypy_cache
.pytest_cache
.ruff_cache

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp

.DS_Store
.env
.env.*

data/*
!data/*-system-prompt.txt
notebooks/
tests/
docs/

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
.test_report.xml

script/
compose*.yaml
Dockerfile*
AGENTS.md
contributing.md
license
